@font-face {
	font-family: 'Vazir';
	src: url('Vazir-Variable.woff2') format('woff2 supports variations'),
       url('Vazir-Variable.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}